.principal{
  font-size: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(5, 5, 5, 0.5)100%),url(https://pbs.twimg.com/media/FonUWeaXwAMqvPb.jpg:large);
  height: 700px;
  background-size: 100%;
  flex-direction: column-reverse;
  margin:0%

}